# ignore everything (dirs, files, sub-dirs, sub-files)
/*


# DO NOT IGNORE THESE FILES
!.gitignore
!prefs.xml
!prefs.xmlc
!colors.less
!userChrome.less
!toolbox.sqlite


# DO NOT IGNORE THESE FOLDERS
!/userChrome-source
!/schemes
!/tools


# IGNORE THESE SUBFOLDERS
/tools/Examples
/tools/File Templates
/tools/Sample_Macros


# DO NOT IGNORE THESE SUBFOLDERS
!/XRE/
/XRE/*
!/XRE/chrome/
!XRE/extensions/